:root{
  --roxo: #6C41B3;
  --roxo-escuro: #4D2889;
  --verde: #44B341;
  --verde-escuro: #33952f;

  --cinza-escuro-neutro: #262626;
  --cinza-escuro-roxo: #302E39;
  --cinza-claro-roxo: #FAF8FD;
  --branco: #FFFFFF;
  --preto: #000000;
  
  --cor-principal: var(--roxo);
}

/* Definições gerais */
*{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body{
  height: 100%;
  font-size: 16px;
  background: linear-gradient(180deg, var(--cinza-escuro-roxo) -3%, var(--roxo-escuro) 5%, var(--cor-principal) 17.53%, var(--cinza-escuro-roxo) 65%), var(--cinza-claro-roxo);
}

header{
  width: 100%;
}

main{
  width: 100%;
}

footer{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h2{
  font-size: 2.5rem;
  font-weight: 500;
}

h3{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin: .8rem 0;
}

a, button{
  transition: all .05s cubic-bezier(.45,.05,.55,.95);
}

strong{
  font-weight: 500;
}

.container{
  max-width: 90vw;
  margin: 0 auto;
}

/* Cabeçalho e seção de título e imagem */
.logo{
  width: max-content;
  margin: 2rem auto;
}

.hero{
  margin: 10em auto;
  display: flex;
  justify-content: space-between;
}

.hero .left{
  flex: 0 1 55%;
  color: var(--branco);
}

.titulo-principal{
  font-size: 3rem;
  font-weight: 600;
}

.chamada-container{
  margin: 3em 0;
}

.texto-chamada{
  margin: .8em 0;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.texto-chamada:last-child{
  margin-bottom: 0;
}

.cta-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60px;
  padding: 0 1em;
  background-color: var(--verde);
  color: var(--branco);
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 10px;
}

.cta-button:hover{
  background-color: var(--verde-escuro);
}

.hero .right{
  flex: 0 1 40%;
  position: relative;
  display: flex;
  justify-content: center;
}

.phone{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -6em;
  width: 90%;
}

.phone-desktop{
  background-image: url("./imgs/todas-as-telas-min.jpg");
  background-clip: content-box;
  background-position: center 30%;
  background-size: 265%;
  background-repeat: no-repeat;
  background-color: var(--cinza-escuro-neutro);
  animation: change-background 5s infinite linear alternate-reverse both;
  clip-path: url("#svgPath");
}

.phone-mobile{
  display: none;
}

.mockup-frame{
  width: 100%;
  height: auto;
}

@keyframes change-background{
  0%{
    background-position-x: -4%;
  }
  10%{
    background-position-x: -4%;
  }
  50%{
    background-position-x: 50%;
  }
  60%{
    background-position-x: 50%;
  }
  90%{
    background-position-x: 104%;
  }
  100%{
    background-position-x: 104%;
  }
}


/* Seção de atributos e depoimentos */
.atributos-depoimentos{
  background: radial-gradient(134.25% 134.25% at 50% -2.75%, rgba(250, 248, 253, 0.6) 56.28%, rgba(242, 234, 254, 0.6) 81.22%, rgba(250, 248, 253, 0.6) 100%), var(--cinza-claro-roxo);
}

.atributos-depoimentos-inner{
  padding: 5em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left.atributos{
  flex: 0 1 55%;
}

.atributos-titulo{
  color: var(--roxo);
}

.highlight-roxo{
  color: var(--branco);
  background-color: var(--roxo);
}

.atributos-container{
  margin: 4rem 0 0;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.atributo{
  text-align: center;
  flex-basis: 42%;
  margin-bottom: 3rem;
  color: var(--roxo);
}

.atributo__icone{
  margin: 0 auto;
  font-size: 3.5rem;
}

.right.depoimentos{
  flex: 0 1 40%;
  max-width: 40%;
  display: flex;
  align-items: center;
}

.depoimentos-inner, .depoimentos-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.depoimentos-inner{
  width: 100%;
  height: 60%;
  padding: 1.5em;
  background-color: var(--branco);
  border-radius: 10px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.depoimentos-logo{
  width: 2.5em;
}

.depoimentos-container{
  width: 100%;
}

.depoimento{
  margin: 1.5em 0;
  text-align: center;
}


/* Seção de formulário de e-mail */
.email-section{
  background-color:var(--verde);
}

.email-section .container{
  padding: 10em 0;
}

.email-inner{
  width: 70%;
}

.email-titulo{
  color: var(--branco);
  line-height: 120%;
  margin-bottom: 20px;
}

.email-form{
  height: 3rem;
  display: flex;
  position: relative;
}

.email-form #email{
  border: none;
  font-size: .95rem;
  width: 100%;
  height: 100%;
  padding: 0 1rem;
  border-radius: 10px;
}

.email-form .btn-enviar{
  display: flex;
  position: absolute;
  cursor: pointer;
  right: 0;
  height: 100%;
  width: 7em;
  padding: 0 1em;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  background-color: var(--branco);
  border-radius: 10px;
  color: var(--verde);
}

.email-form .btn-enviar:hover{
  color: var(--roxo);
  background-color: rgb(108, 65, 179, .1);
}

.email-form .btn-enviar:active{
  color: var(--roxo);
  background-color: rgb(108, 65, 179, .2);
}

.btn-enviar .button-icon{
  font-size: 1.2em;
}

/* Rodapé */
footer{
  display: flex;
  height: 8rem;
  padding-bottom: .5rem;
  align-items: flex-end;
  justify-content: center;
  background-color: var(--cinza-escuro-roxo);
  color: var(--branco);
  text-align: center;
}

.footer-inner{
  display: flex;
  flex-direction: column;
}

footer span{
  font-size: .8rem;
  margin-bottom: .6rem;
}

/* Ajustes de responsividade */

/* Telas de desktop para cima */
@media(min-width: 1024px){
  .container{
    max-width: 1020px;
  } 
}

/* Telas mobile */
@media(max-width: 1000px){

  /* Cabeçalho e seção de título e imagem */
  .hero{
    margin: 5em auto;
    flex-wrap: wrap-reverse;
  }
  .hero .side{
    margin: 0 0 3em;
    flex-basis: 100%;
  }
  .phone-desktop{
    display: none;
  }
  .phone-mobile{
    top: 0;
    position: relative;
    width: 40vw;
    display: flex;
  }
  .phone-img{
    width: 100%;
    height: auto;
  }

  .cta-button{
    width: max-content;
  }

  /* Seção de atributos e depoimentos */
  .atributos-depoimentos-inner .side{
    flex-basis: 100%;
    max-width: none;
  }
  .atributo{
    padding: 0 3em;
    flex-basis: 100%;
  }
  .right.depoimentos{
    margin: 3em 0;
  }
  .depoimentos-inner{
    height: 100%;
  }

  /* Seção de formulário de e-mail */
  .email-inner{
    width: 100%;
  }
  .email-form .btn-enviar{
    width: 5em;
    border-radius: 0 10px 10px 0;
    color: var(--branco);
    background-color: var(--roxo);
  }
  .email-form .btn-enviar:hover{
    color: var(--branco);
    background-color: var(--roxo-escuro);
  }
  .email-form .btn-enviar:active{
    text-decoration: underline;
  }
  .btn-enviar .button-text{
    display: none;
  }
}